/* 1em === 16px 
   960 grid
*/

* {
	border: none;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	font-family: "Noto Serif Display", serif;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 1rem;
}

input,
select,
th,
td,
ul,
ol,
li,
a {
	font-size: 1rem;
}

#NAV {
	font-size: 1.2rem;
	background-color: rgba(11, 23, 40, 100);
	color: whitesmoke;
}

#main_content {
	font-size: 1.2rem;
	background-color: rgba(11, 23, 40, 100);
}

.nav__container {
	display: flex;
	position: relative;
	height: 3rem;
	align-items: center;
}

.nav__mobile-menu__container {
	visibility: hidden;
	position: absolute;
	width: 2.5rem;
	height: 2.5rem;
	margin: 0 1rem;
}

.nav__mobile-menu__hamburger {
	width: 2.5rem;
	height: 2.5rem;
}

.nav__content__container {
	display: flex;
	position: relative;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	margin-right: 1rem;
}

.nav__title__container {
	justify-items: center;
}

.nav__link-list__container {
	display: block;
	width: auto;
}

.nav__link-list {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.nav__link-list__item {
	text-decoration: none;
	color: whitesmoke;
	margin-left: 1rem;
	font-size: 1.5rem;
}

@media screen and (max-width: 912px) {
	.nav__mobile-menu__container {
		position: relative;
		color: whitesmoke;
		visibility: visible;
	}

	.nav__link-list__container {
		display: none;
		visibility: hidden;
	}
}
