/* 1em === 16px 
   960 grid
*/

* {
	border: none;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	font-family: "Noto Serif Display", serif;
}
h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 1rem;
}

#NAV {
	font-size: 1.2rem;
	background-color: rgba(11, 23, 40, 100);
	color: whitesmoke;
}

#main_content {
	font-size: 1.2rem;
	background-color: rgba(11, 23, 40, 100);
}

input,
select,
th,
td,
ul,
ol,
li {
	font-size: 1rem;
}

.nav__container {
	display: flex;
	position: relative;
	justify-items: center;
	justify-content: space-between;
}
.nav__content__container {
	display: flex;
	justify-items: center;
	justify-content: center;
	justify-self: center;
}
.nav__mobile-menu {
	visibility: hidden;
	position: absolute;
}
.nav__list {
	text-decoration: none;
	color: whitesmoke;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}
.nav__list__item a {
	text-decoration: none;
	color: whitesmoke;
}

@media screen and (max-width: 912px) {
	.nav__mobile-menu {
		color: whitesmoke;
		visibility: visible;
		justify-self: center;
		margin-left: 1rem;
		margin-top: 0.25rem;
	}
	.nav__list {
		display: relative;
		visibility: hidden;
	}
}
